<div *ngIf="isVisible" class="sign-in-wrapper" (click)="handleMouseClick($event)">
  <mat-card class="sign-in-card">
    <mat-card-header color="primary">
      <mat-card-title class="title">Please, sign in</mat-card-title>
      <span class="fill-space"></span>
      <mat-icon class="close-icon">close</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input
            matInput
            placeholder="Email" 
            [formControl]="emailFormControl"
            [errorStateMatcher]="emailMatcher"
            class="input-text"
          >
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            [formControl]="passwordFormControl"
            [errorStateMatcher]="passwordMatcher"
            class="input-text"
          >
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="!passwordFormControl.hasError('required')">
            Please enter the password
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="sign-in-btn">Sign in</button>
    </mat-card-actions>
  </mat-card>
</div>
