<div class="write-post">
  <div class="editor">
      <h2>Write your post here</h2>

      <div class="post-info-form-wrapper">
          <form class="post-info-form">
              <mat-form-field class="title-input">
                <input matInput placeholder="Title" [formControl]="titleFormControl" [errorStateMatcher]="titleFormMatcher">
                <mat-error *ngIf="titleFormControl.hasError('required')">
                  Title is <strong>required</strong>
                </mat-error>
              </mat-form-field>
    
              <mat-form-field class="tag-list-input">
                  <mat-chip-list #chipList>
                      <mat-chip
                        *ngFor="let tag of tags"
                        [selectable]="selectable"
                        color="primary"
                        [removable]="removable"
                        (removed)="remove(tag)"
                      >
                          {{tag.name}}
                          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input
                          placeholder="Tags"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)"
                      >
                  </mat-chip-list>
              </mat-form-field>
    
              <mat-form-field class="category-input">
                <input matInput placeholder="Category" [formControl]="categoryFormControl" [errorStateMatcher]="categoryFormMatcher">
                <mat-error *ngIf="categoryFormControl.hasError('required')">
                  Category is <strong>required</strong>
                </mat-error>
              </mat-form-field>
          </form>
      </div>

      <md-editor
        [(ngModel)]="editor"
        [height]="'calc(60vh - 60px)'"
        required 
        maxlength="15000"
      ></md-editor>
  </div>

  <div class="action">
    <button mat-raised-button color="primary" (click)="publish()" [disabled]="isBtnDisabled()">Publish</button>
  </div>

  <div *ngIf="showSpinner" class="spinner"></div>
</div>
