<div class="header">
    <mat-toolbar color="primary">
        <span class="title">AB</span>

        <ul class="nav-links">
            <li><a routerLink="/posts" routerLinkActive="active">Posts</a></li>
            <li><a routerLink="/write-post" routerLinkActive="active">Write a post</a></li>
            <li><a routerLink="/my-posts" routerLinkActive="active">My posts</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        </ul>

        <span class="fill-space"></span>

        <span *ngIf="!isSignedIn" class="login-links">
            <a (click)="toggleSignIn(null)">Sign in</a>
            or
            <a (click)="toggleSignUp()">Sign up</a>
        </span>

        <span *ngIf="isSignedIn" class="signed-in-links">
            Hello, <a href="#"><strong>{{this.username}}</strong></a>
            <a (click)="signOut()">Sign out</a>
        </span>
    </mat-toolbar>

    <app-sign-in [isVisible]="isSignInVisible" (toggleVisibility)="toggleSignIn($event)"></app-sign-in>
    <app-sign-up [isVisible]="isSignUpVisible" (toggleVisibility)="toggleSignUp($event)"></app-sign-up>
</div>

<router-outlet></router-outlet>
