.fill-space {
    flex: 1 1 auto;
}

.title {
  font-size: 24px;
}

.login-links {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #b1b1b1;
}

.login-links a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    transition: color .3s;
}

.login-links a:hover,
.login-links a:focus {
    color: #b1b1b1;
    cursor: pointer;
    outline: none;
}

.signed-in-links a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    transition: color .3s;
    margin: 0 10px 0 0;
    padding: 5px 2px;
}

.signed-in-links a:hover,
.signed-in-links a:focus {
    color: #b1b1b1;
    cursor: pointer;
    outline: none;
}
