<mat-toolbar color="primary">
  <span class="title">Awesome blog</span>

  <span class="fill-space"></span>

  <span *ngIf="!isSignedIn" class="login-links">
    <a href="#" (click)="toggleSignIn()">Sign in</a>
    or
    <a href="#" (click)="toggleSignUp()">Sign up</a>
  </span>

  <span *ngIf="isSignedIn" class="signed-in-links">
    Hello, <a href="#"><strong>{{this.username}}</strong></a>
    <a href="#" (click)="signOut()">Sign out</a>
  </span>
</mat-toolbar>

<app-sign-in [isVisible]="isSignInVisible" (toggleVisibility)="toggleSignIn($event)"></app-sign-in>
<app-sign-up [isVisible]="isSignUpVisible" (toggleVisibility)="toggleSignUp($event)"></app-sign-up>
